.App {
    text-align: center;
  }
  .centered{
    margin:20px auto;
    padding:20px;
    max-width: 90%;
    border-radius: 20px;
    background-color: cadetblue;
    text-align: center;
  }
  
  